/*
#666
#AFCE39
#FFAACC70
rgb(50,100,150)
rgba(100,150,200,0.5)
hsl(0, 100%, 50%)
*/



* {
	-webkit-box-sizing : border-box;
	   -moz-box-sizing : border-box;
	    -ms-box-sizing : border-box;
	     -o-box-sizing : border-box;
			box-sizing : border-box;
	margin : 0;
	padding : 0;
}
/*********************************************************************************/
/*********************************************************************************/
html { font-size : 100%; }
html>body { font-size : 16px; }
body { font-size : 100%; line-height : 1.5;}
/*********************************************************************************/
html { padding : 0; }
body { margin : 0; padding : 2em; }
/*********************************************************************************/
/*********************************************************************************/
body
{
	background-color: #4A4747;
}
section {
	margin-top: 1em;
}
